@model Web_QLNS_VTH.Models.ChucVu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ChucVu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PhongBan.tenPhongBan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhongBan.tenPhongBan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenChucVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenChucVu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maChucVu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
