<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.2.1/css/dataTables.bootstrap5.css" rel="stylesheet" />
    <script defer src="https://cdn.datatables.net/2.2.1/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.2.1/js/dataTables.bootstrap5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <script defer src="~/Scripts/tableDemo.js"></script>
    <style>

        body, html {
            height: 100%;
            margin: 0;
        }

        .nav-item {
            padding-inline: 10px;
            border-inline: 1px solid white;
            border-block: 1px solid #10B1FC;
        }

            .nav-item:hover {
                border: 1px solid #10B1FC;
                background-color: white;
            }

        .nav-link {
            color: white;
            font-weight: bold;
        }

            .nav-link:hover {
                color: #10B1FC;
            }

        header {
            height: 20%; /* Chiều cao header 20% */
        }

        main {
            height: 80%; /* Chiều cao main 80% */
            overflow-y: auto; /* Cho phép cuộn dọc */
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>
    <header class="h-20">
        <div class="w-100 d-flex" style="align-items: center; justify-content: space-between;">
            <span>
                <img src="~/Img/logoft.png" width="150" style="padding-block:10px;margin-inline:30px" />
                <b style="color:#10B1FC;font-size:larger;">CÔNG TY TNHH THƯƠNG MẠI HTCV</b>
            </span>
            <span class="text-uppercase fw-bolder">
                <span style="font-size:12px;">Xin chào:</span>
                <span class="text-primary d-flex justify-content-center">
                    @{if (Session["taikhoan"] != null)
                        {
                            Web_QLNS_VTH.Models.TaiKhoan tk = (Web_QLNS_VTH.Models.TaiKhoan)Session["taikhoan"];
                            if (tk.loaiTK == "AD" && tk.NhanVien != null)
                            {
                                if (tk.NhanVien.anh != null && tk.NhanVien.hoTen != null)
                                {
                                    <span>Admin,&nbsp; </span> <a href="@Url.Action("profile","Manage",new {id = tk.maNV})">@tk.NhanVien.hoTen</a>
                                }

                            }
                            else if (tk.loaiTK == "QL")
                            {
                                <span>Quản lý,&nbsp; </span> <a href="@Url.Action("profile","Manage",new {id = tk.maNV})">@tk.NhanVien.hoTen</a>
                            }
                            else
                            { <span>Admin</span> }
                            <a class="px-2" href="@Url.Action("logout","Manage")">
                                <i class="fa fa-sign-out" style="font-size:24px"></i>
                            </a>
                        }
                    }
                </span>
            </span>
        </div>
        @{if (Session["taikhoan"] != null)
            {
                Web_QLNS_VTH.Models.TaiKhoan tk = (Web_QLNS_VTH.Models.TaiKhoan)Session["taikhoan"];
                    <nav class="navbar navbar-expand-sm container-fluid" style="color:white">
                        <div class="container-fluid">
                            <div class="collapse navbar-collapse">
                                        <ul class="navbar-nav flex-grow-1" style="background-color: #10B1FC;align-content:center">
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","NhanViens")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                                    </svg>
                                                    Nhân viên
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","TangCas")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
                                                        <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0" />
                                                    </svg>
                                                    Tăng ca
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","YeuCauNPs")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
                                                        <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098z" />
                                                    </svg>
                                                    Yêu cầu nghỉ phép
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","Luongs")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-piggy-bank-fill" viewBox="0 0 16 16">
                                                        <path d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595m7.173 3.876a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199m-8.999-.65a.5.5 0 1 1-.276-.96A7.6 7.6 0 0 1 7.964 3.5c.763 0 1.497.11 2.18.315a.5.5 0 1 1-.287.958A6.6 6.6 0 0 0 7.964 4.5c-.64 0-1.255.09-1.826.254ZM5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0" />
                                                    </svg>
                                                    Lương
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index","NghiPheps")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check-fill" viewBox="0 0 16 16">
                                                        <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-5.146-5.146-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708.708" />
                                                    </svg>
                                                    Nghỉ phép
                                                </a>
                                            </li>
                                            @if (tk.loaiTK == "AD")
                                            {
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index", "ChucVus")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark-fill" viewBox="0 0 16 16">
                                                        <path d="M2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2" />
                                                    </svg>
                                                    Chức vụ
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index", "PhongBans")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box2-fill" viewBox="0 0 16 16">
                                                        <path d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4zM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6z" />
                                                    </svg>
                                                    Phòng ban
                                                </a>
                                            </li>

                                            <li class="nav-item">
                                                <a class="nav-link" href="@Url.Action("Index", "TaiKhoans")">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill" viewBox="0 0 16 16">
                                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5M9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8m1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5m-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96q.04-.245.04-.5M7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0" />
                                                    </svg>
                                                    Tài khoản
                                                </a>
                                            </li>
                                            }

                                        </ul>
                            </div>
                        </div>
                    </nav>
                }
            }
    </header>
    <main class="container-fluid h-80">
        @if (Session["success"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    Success:
                </strong> @Session["success"].ToString()
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (Session["danger"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle-fill" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                    </svg>
                    Danger:
                </strong> @Session["danger"].ToString()
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        @{Session["success"] = null; Session["danger"] = null;}
        @RenderBody()
    </main>
    @*<footer style="height: 100px; background-color: #10B1FC">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*@Html.ActionLink("PhongBan", "Index", "PhongBans")*@
</body>
</html>
