@model IEnumerable<Web_QLNS_VTH.Models.PhongBan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    List<string> PBs = new List<string>();
    List<int> SoLuongs = new List<int>();
    foreach (var item in Model)
    {
        PBs.Add("Phòng " + item.tenPhongBan);
        //SoLuongs.Add(5);
        SoLuongs.Add(item.ChucVus.SelectMany(cv => cv.NhanViens).Count());
    }
}
<div class="d-flex">
    <button type="button" class="btn btn-outline-primary col-1 fw-bold" data-bs-toggle="modal" data-bs-target="#myModal">
        <i class="fa fa-plus me-2"></i> Thêm
    </button>
    @*@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })*@
    <h3 class="text-center col-11 text-uppercase fw-bolder">Danh sách phòng ban</h3>
</div>
<div class="form-horizontal">
    <div class="row w-100">
        <div class="col-6">
            <div class="col-9">
                <canvas id="myPie"></canvas>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2  border-left">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            @{ int i = item.ChucVus.SelectMany(cv => cv.NhanViens).Count();}
                                            <p style="border-bottom: 1px solid black;">@Html.DisplayFor(modelItem => item.maPhongBan) <span style="padding-left:100px;font-size:12px; color:black">NV: <b>@i</b></span></p>
                                        </div>
                                        <div class="h7 mb-0 font-weight-bold text-gray-600">
                                            @Html.DisplayFor(modelItem => item.tenPhongBan)
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <button class="btn btn-outline-danger" type="button" data-bs-toggle="modal" data-bs-target="#confirmModal-@item.maPhongBan">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                                <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                            </svg>
                                        </button>
                                        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#myModal-@item.maPhongBan">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                            </svg>
                                        </button>
                                        @using (Html.BeginForm("Edit", "PhongBans", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="modal" id="myModal-@item.maPhongBan">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header bg-info">
                                                            <h5 class="modal-title" id="confirmModalLabel">Thông tin phòng ban</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <!-- Modal body -->
                                                        <div class="modal-body">

                                                            <div class="form-group">
                                                                <label>Mã phòng ban</label>
                                                                <div class="col-md-10">
                                                                    <input id="maChucVu" name="maChucVu" class="form-control" value="@item.maPhongBan" readonly />
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                @*@Html.LabelFor(model => model.tenChucVu, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                                                <label>Tên phòng ban</label>
                                                                <div class="col-md-10">
                                                                    <input id="tenChucVu" name="tenChucVu" class="form-control" value="@item.tenPhongBan" />

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                                <i class="fas fa-times me-2"></i>Thoát
                                                            </button>
                                                            <button class="btn btn-primary" type="submit">
                                                                <i class="fas fa-pencil-square me-2"></i>Sửa
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        <div class="modal fade" id="confirmModal-@item.maPhongBan" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-danger">
                                                        <h5 class="modal-title" id="confirmModalLabel">Xác nhận xóa</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body text-center">
                                                        <i class="fas fa-exclamation-triangle warning-icon"></i>
                                                        <p class="mb-0">
                                                            Bạn có chắc chắn muốn xóa chức vụ @item.maPhongBan không?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                            <i class="fas fa-times me-2"></i>Thoát
                                                        </button>
                                                        <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("DeleteConfirmed", "PhongBans",new {id = item.maPhongBan})'">
                                                            <i class="fas fa-trash-alt me-2"></i>Xóa
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Create", "PhongBans", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="modal" id="myModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <!-- Modal body -->
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="confirmModalLabel">Thêm phòng ban</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label>Tên phòng ban</label>
                        <div class="col-md-10">
                            <input id="tenPhongBan" name="tenPhongBan" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="fas fa-times me-2"></i>Thoát
                    </button>
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-plus me-2"></i>Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    //const lb = ["Direct", "Referral", "Social"];
    @*foreach(var i in @PBs) {

    }*@
    const phongBans = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(PBs));
    const soNV = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(SoLuongs));
</script>
<script>
    // Dữ liệu cho biểu đồ
    const data = {
        labels: phongBans,
        datasets: [{
            label: 'Nhân viên',
            data: soNV,
            backgroundColor: [
                "rgb(255, 82, 107)",  // Màu hồng đậm
                "rgb(40, 130, 200)",   // Màu xanh dương đậm
                "rgb(255, 180, 30)",   // Màu vàng đậm
                "rgb(50, 150, 150)",   // Màu xanh mint đậm
                "rgb(120, 70, 200)",   // Màu tím đậm
                "rgb(255, 120, 30)",   // Màu cam đậm
                "rgb(40, 80, 150)",    // Màu xanh dương đậm hơn
                "rgb(10, 150, 100)",   // Màu xanh lá đậm
                "rgb(30, 130, 140)",   // Màu xanh nước biển đậm
                "rgb(240, 150, 20)",   // Màu vàng chanh đậm
                "rgb(200, 40, 40)",    // Màu đỏ đậm
                "rgb(100, 100, 100)",  // Màu xám đậm
                "rgb(60, 62, 70)",     // Màu xám đen đậm
                "rgb(20, 22, 24)",     // Màu đen đậm
                "rgb(30, 40, 45)"      // Màu xám sáng đậm
            ],
            hoverBorderColor: "rgba(234, 236, 244, 1)",
            borderWidth: 1
        }]
    };

    // Tùy chọn cho biểu đồ
    const config = {
        type: 'pie',
        data: data,
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Biểu đồ số lượng nhân viên từng phòng ban'
                }
            }
        },
    };

    // Khởi tạo biểu đồ
    const myPieChart = new Chart(
        document.getElementById('myPie'),
        config
    );
</script>