@model Web_QLNS_VTH.Models.YeuCauNP

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>YeuCauNP</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.hoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.hoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tuNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tuNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.denNgay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.denNgay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tinhTrang)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
