@model IEnumerable<Web_QLNS_VTH.Models.TangCa>
@{
    ViewBag.Title = "tangCaQT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ Web_QLNS_VTH.Models.TaiKhoan tk;
    if (Session["taikhoan"] != null)
    {
        tk = Session["taikhoan"] as Web_QLNS_VTH.Models.TaiKhoan;
        <section class="h-100 gradient-custom-2">
            <div class="container-fluid h-100">
                <div class="row d-flex justify-content-center">
                    <div class="col col-lg-9 col-xl-8">
                        <div class="card">
                            <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
                                <div class="ms-4 mt-5" style="width: 150px;">
                                    <img src="~/Img/@tk.NhanVien.anh"
                                         alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2"
                                         style="width: 150px; height: 150px; z-index: 1,">
                                </div>
                                <div class="ms-3" style="margin-top: 130px;">
                                    <h5>@tk.NhanVien.hoTen</h5>
                                    <p>@tk.NhanVien.ChucVu.tenChucVu</p>
                                </div>
                            </div>

                            <div class="card-body p-4 text-black">
                                <div class="d-flex justify-content-between align-items-center mb-4 text-body">
                                    <p class="mb-0"><a href="@Url.Action("profile","Manage",new {id= tk.maNV})" class="text-muted">&lt;&lt;&lt; Về profile </a></p>
                                </div>
                                <div class="mb-5  text-body">
                                    <span class="text-uppercase h3 fw-bolder text-primary opacity-75">Tăng ca</span>

                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr style="background-color: #10B1FC;color: white">
                                                <th>
                                                    Mã tăng ca
                                                </th>
                                                <th>
                                                    Số giờ tăng ca
                                                </th>
                                                <th>
                                                    Ngày tăng ca
                                                </th>
                                                <th>
                                                    Loại tăng ca
                                                </th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr class="" id="row-@item.maTangCa">
                                                    <td class="align-middle">
                                                        @item.maTangCa
                                                    </td>
                                                    <td class="align-middle">
                                                        @item.soGio
                                                    </td>
                                                    <td class="align-middle">
                                                        @String.Format("{0:dd/MM/yyyy}", item.ngayTangCa)
                                                    </td>
                                                    <td class="align-middle">
                                                        @item.loaiTangCa
                                                    </td>

                                                    <td class="align-middle">
                                                        @*@Html.ActionLink("Edit", "Edit", new { id = item.maNV }, new { @class = "btn btn-primary" }) |*@
                                                        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#myModal-@item.maTangCa">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                                            </svg>
                                                        </button>
                                                        <div class="modal" id="myModal-@item.maTangCa">
                                                            <div class="modal-dialog modal-dialog-centered">
                                                                <div class="modal-content">
                                                                    <div class="modal-header bg-info">
                                                                        <h5 class="modal-title" id="confirmModalLabel">Thông tin tăng ca</h5>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <!-- Modal body -->
                                                                    <div class="modal-body">
                                                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                                        <div class="form-group">
                                                                            <div class="col-md-10">
                                                                                <label>Số giờ</label>
                                                                                <input type="number" id="soGio" name="soGio" class="form-control" value="@item.soGio" readonly />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-md-10">
                                                                                <label>Ngày tăng ca</label>

                                                                                <input type="text" id="ngayTangCa" name="ngayTangCa" class="form-control" value="@item.ngayTangCa.Value.ToString("dd/MM/yyyy")" readonly />
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group col-md-10">
                                                                            <label>Loại tăng ca</label>
                                                                            <input type="text" id="ngayTangCa" name="ngayTangCa" class="form-control" value="@item.loaiTangCa" readonly />

                                                                        </div>

                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                                            <i class="fas fa-times me-2"></i>Thoát
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}
