@model Web_QLNS_VTH.Models.TaiKhoan

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TaiKhoan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NhanVien.hoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NhanVien.hoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.matKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.matKhau)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.loaiTK)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loaiTK)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.maTK }) |
    @Html.ActionLink("Back to List", "Index")
</p>
