@model Web_QLNS_VTH.Models.Luong

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/monthPicker.js"></script>
<div class="modal fade" id="monthYearModal" tabindex="-1" aria-labelledby="monthYearModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-black">
                <h5 class="modal-title">Chọn Tháng & Năm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Chọn Năm -->
                <div class="text-center mb-3">
                    <button class="btn btn-outline-primary" onclick="changeYear(-1)">◀</button>
                    <span id="selectedYear" class="mx-3 fw-bold">2025</span>
                    <button class="btn btn-outline-primary" onclick="changeYear(1)">▶</button>
                </div>
                <!-- Chọn Tháng -->
                <div class="row text-center">
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(1)">Tháng 1</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(2)">Tháng 2</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(3)">Tháng 3</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(4)">Tháng 4</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(5)">Tháng 5</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(6)">Tháng 6</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(7)">Tháng 7</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(8)">Tháng 8</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(9)">Tháng 9</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(10)">Tháng 10</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(11)">Tháng 11</div>
                    <div class="col-4 month-item btn btn-outline-dark" onclick="selectMonth(12)">Tháng 12</div>
                </div>
            </div>
        </div>
    </div>
</div>
@using (Html.BeginForm("Edit", "Luongs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.maLuong)
    <section class="bg-opacity-50 bg-primary">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="card card-registration my-5 col-10">
                    <div class="row g-0 justify-content-center">
                        <div class="col-xl-12">
                            <div class="card-body p-md-5 text-black">
                                <span class="mb-5 text-uppercase h3">Chỉnh sửa lương mã lương &ndash; @Model.maLuong</span>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label" for="form3Example1m">Mã nhân viên</label>
                                                <input name="maNV" id="maNV" class="form-control" value="@Model.maNV" readonly />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div data-mdb-input-init class="form-outline">
                                                <label class="form-label" for="form3Example1n">Tên nhân viên</label>
                                                <input type="text" class="form-control" value="@Model.NhanVien.hoTen" readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div data-mdb-input-init class="form-outline col-7">
                                        <label class="form-label" for="form3Example8">Tháng năm</label>
                                        @*<input type="month" id="thangNam" name="thangNam" class="form-control" value="@today" />*@
                                        @*@Html.ValidationMessageFor(model => model.thangNam, "", new { @class = "text-danger" })*@
                                        <div class=" col-7 input-group ">
                                            <input type="text" id="thangNam" name="thangNam" class="form-control" readonly value="@Model.thangNam">
                                            <span class="input-group-text bg-primary text-white calendar-icon" data-bs-toggle="modal" data-bs-target="#monthYearModal">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div data-mdb-input-init class="form-outline col-7">
                                        <label class="form-label" for="form3Example90">Ngày nghỉ</label>
                                        @Html.EditorFor(model => model.nghiKhongPhep, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>

                                    <div data-mdb-input-init class="form-outline col-7">
                                        <label class="form-label" for="form3Example99">Lương ứng trước</label>
                                        @Html.EditorFor(model => model.luongUngTruoc, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="d-flex justify-content-end mt-1">
                                        <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-light text-primary" onclick="location.href='@Url.Action("Details", "Luongs",new {id=Model.maLuong})'">Trở về</button>
                                        <button type="submit" class="btn btn-warning ms-2">Lưu</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
